@import "tailwindcss";

body { font-family: 'Inter', sans-serif; }

.input-box {
  @apply w-full p-3 border border-gray-300 rounded-xl focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition;
}
